<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="plantilla/UITemplate :: cabecera">
	<meta charset="ISO-8859-1">
	<title>Cliente</title>

</head>

<body>
	<!-- Insertando un fragmento para el menu -->
	<div th:insert="plantilla/UITemplate :: menu"></div>

	<!-- Contenedor principal INICIO-->
	<div class="container">


		<!-- Titulo-->
		<h3 class="text-center mt-4">LISTA DE CLIENTES</h3>


		<!-- Boton nuevo INICIO-->
		<button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#modalCliente"
			id="btn-nuevo">
			<i class="far fa-file"></i> Nuevo Cliente
		</button>
		<!-- Boton nuevo FIN-->

		<!-- tabla INICIO-->
		<div class=" mt-2">

			<table class="table table-striped table-bordered mt-5" id="tableClientes">
				<thead>
					<tr>
						<th>Código</th>
						<th>Nombre</th>
						<th>Paterno</th>
						<th>Materno</th>
						<th>Sexo</th>
						<th>DNI</th>
						<th>Fecha</th>
						<th>Celular</th>
						<th>Distrito</th>
						<!--th>Usuario</th-->
						<!--th>Sucursal</th-->
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="row:${cliente}">
						<td th:text="${row.codigo}"></td>
						<td th:text="${row.nombre}"></td>
						<td th:text="${row.paterno}"></td>
						<td th:text="${row.materno}"></td>
						<td th:text="${row.sexo}"></td>
						<td th:text="${row.dni}"></td>
						<td th:text="${row.fecha}"></td>
						<td th:text="${row.celular}"></td>
						<td th:text="${row.DistritosCliente.nombre}"></td>
						<!--td th:text="${row.usuario.login}"></td-->
						<!--td th:text="${row.sucursal.nombre}"></td-->
						<td><a class="btn btn-info btn-editar" data-toggle="modal" data-target="#modalCliente">
								<i class="far fa-edit"></i></a></td>
						<td><a class="btn btn-danger btn-eliminar"><i class="far fa-trash-alt"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- tabla FIN-->





		<!-- Modal INICIO-->
		<!-- Modificar id-->
		<div class="modal fade" id="modalCliente" data-backdrop="static" data-keyboard="false" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-login modal-lg">
				<div class="modal-content">
					<div class="modal-header bg-blue-darker">
						<h4 class="modal-title text-white">Medicamento</h4>
					</div>
					<div class="modal-body">
						<!-- Modificar form, action-->
						<form method="POST" id="idRegistra" action="/cliente/grabar">
							<input type="hidden" id="idCodigo" name="codigo" value="0">
							<div class="container">
								<div class="row">

									<!-- Input INICIO -->
									<div class="form-group has-feedback col-md-12">
										<label for="exampleInputEmail1"><b>Nombre</b></label><br>
										<i class="fas fa-file-signature form-control-feedback2"></i>
										<input type="text" class="form-control" id="idNombre"
											placeholder="Ingresar nombre" name="nombre">
									</div>
									<!-- Input FIN -->

									<!-- Input INICIO -->
									<!-- name, id -->
									<div class="form-group has-feedback col-md-12">
										<label for="exampleInputEmail1"><b>APELLIDO PATERNO</b></label><br>
										<i class="fas fa-file-signature form-control-feedback2"></i>
										<input type="text" class="form-control" id="idPaterno"
											placeholder="Ingresar apellido paterno" name="paterno">
									</div>
									<!-- Input FIN -->

									<!-- Input INICIO -->
									<!-- name, id -->
									<div class="form-group has-feedback col-md-12">
										<label for="exampleInputEmail1"><b>APELLIDO MATERNO</b></label><br>
										<i class="fas fa-file-signature form-control-feedback2"></i>
										<input type="text" class="form-control" id="idMaterno"
											placeholder="Ingresar apellido materno" name="materno">
									</div>
									<!-- Input FIN -->

									<!-- Select INICIO -->
									<div class="form-group has-feedback col-md-6">
										<label for="exampleInputEmail1"><b>Sexo</b></label><br>
										<i class="fas fa-prescription-bottle-alt form-control-feedback2"></i>
										<select class="form-control" id="idSexo" name="sexo">
											<option value=" ">[Seleccione Sexo]</option>
											<option value="Masculino">Masculino</option>
											<option value="Femenino">Femenino</option>
										</select>
									</div>
									<!-- Select FIN -->

									<!-- Input INICIO -->
									<div class="form-group has-feedback col-md-4">
										<label for="exampleInputEmail1"><b>DNI</b></label><br>
										<i class="fas fa-pen-fancy form-control-feedback2"></i>
										<input type="text" class="form-control" id="idDni" placeholder="Ingresar dni"
											name="dni">
									</div>
									<!-- Input FIN -->

									<!-- Input INICIO -->
									<div class="form-group has-feedback col-md-4">
										<label for="exampleInputEmail1" class="text-center"><b>Fecha
												vencimiento</b></label><br>
										<i class="fas fa-calendar-week form-control-feedback2"></i>
										<input type="text" style="background-color:#aed6f1" class="form-control"
											id="usr1" placeholder="YYYY-MM-DD" autocomplete="off" name="fecha">

									</div>
									<!-- Input FIN -->

									<!-- Input INICIO -->
									<div class="form-group has-feedback col-md-4">
										<label for="exampleInputEmail1"><b>CELULAR</b></label><br>
										<i class="fas fa-money-check-alt form-control-feedback2"></i>
										<input type="text" class="form-control" id="idCelular"
											placeholder="Ingresar celular" name="celular">
									</div>
									<!-- Input FIN -->

									<!-- Input INICIO -->
									<div class="form-group has-feedback col-md-4">
										<label for="exampleInputEmail1"><b>DIRECCION</b></label><br>
										<i class="fas fa-money-check-alt form-control-feedback2"></i>
										<input type="text" class="form-control" id="idDireccion"
											placeholder="Ingresar direccion" name="direccion">
									</div>
									<!-- Input FIN -->


									<!-- Select INICIO -->
									<div class="form-group has-feedback col-md-6">
										<label for="exampleInputEmail1"><b>Provincia</b></label><br>
										<i class="fas fa-prescription-bottle-alt form-control-feedback2"></i>
										<select class="form-control" id="idProvincia" name="provincia">
											<option value=" ">[Seleccione Provincia]</option>

											<!--Por lenguaje de expresion traemos los tipos a la vista
													      hacemos uso de utext para traer los datos al option, tambien con lenguaje de expresion
													      tambien se le da el value para obtener el codigo de la seleccion en el combobox-->
											<option th:each="fila:${provincias}" th:utext="${fila.nombre}"
												th:value="${fila.codigo}" />
										</select>
									</div>
									<!-- Select FIN -->

									<!-- Select INICIO -->
									<div class="form-group has-feedback col-md-6">
										<label for="exampleInputEmail1"><b>Distritos</b></label><br>
										<i class="fas fa-prescription-bottle-alt form-control-feedback2"></i>
										<select class="form-control" id="idDistrito" name="distrito">
											<option value=" ">[Seleccione Distritos]</option>

											<!--Por lenguaje de expresion traemos los tipos a la vista
													      hacemos uso de utext para traer los datos al option, tambien con lenguaje de expresion
													      tambien se le da el value para obtener el codigo de la seleccion en el combobox-->
											<option />
										</select>
									</div>
									<!-- Select FIN -->

								</div>
							</div>

							<!-- BOTONES INICIO -->
							<div class="col-md-12 text-center mt-4">
								<button type="submit" id="Guardar" class="btn btn-primary"><i class="fas fa-save"></i>
									Registrar</button>
								<button type="button" id="btn-cerrar" class="btn btn-danger" data-dismiss="modal"><i
										class="fas fa-undo-alt"></i> Cancelar</button>
							</div>

							<!-- BOTONES FIN -->
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal FIN-->



	</div>
	<!-- Contenedor principal FIN-->




	<!-- Insertando un fragmento para el pie -->
	<div th:insert="plantilla/UITemplate :: pie"></div>



	<!--Alert consumible-->
	<script h:inline="javascript" th:if="${Mensaje!=null}">
		//Recuperar atributo mensaje
		let men =/*[[${Mensaje}]]*/
			toastr.success(men, toastr.options = {
				"timeOut": "2000",
				"positionClass ": " toast-top-right ",
			});
	</script>

	<script>

		$(document).ready(function () {
			$("#idRegistra").submit(function (event) {
				// Evitar el envío del formulario por defecto
				event.preventDefault();

				// Obtener los valores de los campos del formulario
				var codigo = $("#idCodigo").val();
				var nombre = $("#idNombre").val();
				var paterno = $("#idPaterno").val();
				var materno = $("#idMaterno").val();
				var sexo = $("#idSexo").val();
				var dni = $("#idDni").val();
				var fecha = $("#usr1").val();
				var celular = $("#idCelular").val();
				var direccion = $("#idDireccion").val();
				var codDis = $("#idDistrito").val();

				// Realizar la petición POST al controlador
				$.post("/cliente/grabar", {
					codigo: codigo,
					nombre: nombre,
					paterno: paterno,
					materno: materno,
					sexo: sexo,
					dni: dni,
					fecha: fecha,
					celular: celular,
					direccion: direccion,
					distritoscliente: codDis
				})
					.done(function () {
						// Mostrar alerta de éxito si el registro fue exitoso
						Swal.fire({
							icon: 'success',
							title: 'Cliente ' + nombre + ' grabado correctamente',
							showConfirmButton: false,
							timer: 1500
						});

						// Redireccionar a la página de lista de clientes después de 1.5 segundos
						setTimeout(function () {
							window.location.href = "/cliente/lista";
						}, 1500);
					})
					.fail(function () {
						// Mostrar alerta de error si el registro falló
						Swal.fire({
							icon: 'error',
							title: 'Error al grabar',
							text: 'No se pudo grabar el cliente',
							confirmButtonText: 'Cerrar'
						});
					})
					.always(function () {
						// Habilitar el botón de registro nuevamente
						$("#Guardar").prop("disabled", false);
					});
			});
		});

	</script>


	<script>
		let codigoTipo = -1;


		$(document).on("click", ".btn-editar", function () {
			let cod;
			//obtener el codigo del medicamento actual según el boton que se presiono
			cod = $(this).parents("tr").find("td")[0].innerHTML;
			//trabajar con la funcion get para llmaar a la RUTA "buscar"
			$.get("/cliente/buscar?codigo=" + cod, function (response) {
				let sexo = response.sexo;
				//Imprimir en los controles el valor del JSON
				$("#idCodigo").val(response.codigo);
				$("#idNombre").val(response.nombre);
				$("#idPaterno").val(response.paterno);
				$("#idMaterno").val(response.materno);
				$("#idSexo").val(sexo).change();
				$("#idDni").val(response.dni);
				$("#usr1").val(response.fecha);
				$("#idCelular").val(response.celular);
				$("#idDireccion").val(response.direccion);
				//$("#idTipo").val(response.tipo.codigo);
				$("#idProvincia").val(response.distritosCliente.prov.codigo);
				codigoTipo = response.distritosCliente.codigo;
				//llamar al evento change del combo idLaboratorio
				$("#idProvincia").trigger("change")
				console.log(response);
			})
		})



		$(document).on("click", ".btn-eliminar", function () {
			let cod;
			cod = $(this).parents("tr").find("td")[0].innerHTML;
			console.log(cod);
			Swal.fire({
				title: '¿Estás seguro?',
				text: '¿Deseas eliminar este cliente?',
				icon: 'warning',
				showCancelButton: true,
				confirmButtonText: 'Sí, eliminar',
				cancelButtonText: 'Cancelar'
			}).then((result) => {
				if (result.isConfirmed) {
					confirmarEliminacion(cod);
					console.log(cod);

				}
			});
		});

		function confirmarEliminacion(codigo) {
			fetch('/cliente/eliminar/' + codigo, {method: 'DELETE'})
				.then(response => {
					if (response.ok) {
						Swal.fire({
							title: '¡Cliente eliminado!',
							text: 'El Cliente ha sido eliminado correctamente.',
							icon: 'success'
						}).then(() => {
							window.location.href = '/cliente/lista';
						});
					} else {
						Swal.fire({
							title: 'Error',
							text: 'Error al eliminar el cliente. Por favor, inténtalo nuevamente.',
							icon: 'error'
						});
					}
				})
				.catch(error => {
					Swal.fire({
						title: 'Error',
						text: 'Error al eliminar el cliente. Por favor, inténtalo nuevamente.',
						icon: 'error'
					});
					console.error(error);
				});
		}




		$("#tableClientes").DataTable({
			"searching": true,
			"lengthChange": false,
			"pageLength": 5,
			"info": false,
			"language": {
				"url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json" // Ruta del archivo de traducción en español
			}
		});
		$(function () {
			$('#usr1').datepicker({
				'format': 'yyyy-mm-dd',
				'autoclose': true

			});

		});
		$('#usr1').on('changeDate show', function (e) {
			$('#idRegistra').bootstrapValidator('revalidateField', $('#usr1'));
		});


		$(document).on("click", "#btn-cerrar", function () {
			//resetear formulario
			$("#idRegistra").trigger("reset");
			$("#idCodigo").val(0);
			//resetear validaciones
			$("#idRegistra").data("bootstrapValidator").resetForm(true);
		})



		//asignar evento change al select con ID idLaboratorio
		$(document).on("change", "#idProvincia", function () {
			//obtener el código del laboratorio actual
			let codLab;
			codLab = $(this).val();
			//limpiar combo idTipo
			$("#idDistrito").empty().append("<option value=' '>[Seleccione Distrito]</option>");
			//get
			$.get("/cliente/listarDistritos?codigo=" + codLab, function (response) {
				//bucle
				$.each(response, function (index, item) {
					$("#idDistrito").append("<option value='" + item.codigo + "'>" + item.nombre + "</option>");
				})
				//marcar el tipo de medicamento				
				$("#idDistrito").val(codigoTipo);
			})
		})


	</script>



	<script type="text/javascript">

		$(document).ready(function () {

			$('#idRegistra').bootstrapValidator({
				feedbackIcons: {
					valid: 'glyphicon glyphicon-ok',
					invalid: 'glyphicon glyphicon-remove',
					validating: 'glyphicon glyphicon-refresh'
				},
				fields: {

					Nombres: {
						selector: '#idNombre',
						validators: {
							notEmpty: {
								message: 'Ingrese nombre'
							}
						}
					},

					Paterno: {
						selector: '#idPaterno',
						validators: {
							notEmpty: {
								message: 'Ingrese apellido paterno'
							}
						}
					},
					Materno: {
						selector: '#idMaterno',
						validators: {
							notEmpty: {
								message: 'Ingrese apellido materno'
							}
						}
					},
					Sexo: {
						selector: '#idSexo',
						validators: {
							notEmpty: {
								message: 'Ingrese sexo'
							}
						}
					},
					Dni: {
						selector: '#idDni',
						validators: {
							notEmpty: {
								message: 'Ingrese DNI'
							},
							regexp: {
								regexp: /^\d{1,8}$/,
								message: 'Ingrese un DNI válido de máximo 8 números'
							}
						}
					},


					Fecha: {
						selector: '#usr1',
						validators: {
							notEmpty: {
								message: 'Seleccione fecha '
							},
							date: {
								format: 'YYYY-MM-DD',
								message: 'The format is dd/mm/yyyy'
							},
						}
					},

					Celular: {
						selector: '#idCelular',
						validators: {
							notEmpty: {
								message: 'Ingrese Celular'
							},
							regexp: {
								regexp: /^\d{1,9}$/,
								message: 'Ingrese numero de celular de máximo 9 números'
							}
						}
					},
					Direccion: {
						selector: '#idDireccion',
						validators: {
							notEmpty: {
								message: 'Ingrese direccion'
							}
						}
					},

					Provincia: {
						selector: '#idProvincia',
						validators: {
							notEmpty: {
								message: 'Seleccione una provincia'
							}
						}
					},
					Distrito: {
						selector: '#idDistrito',
						validators: {
							notEmpty: {
								message: 'Seleccione distrito'
							},
						}
					}
				}
			})
		});    
	</script>






















</body>

</html>