<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="plantilla/UITemplate :: cabecera">
	<meta charset="ISO-8859-1">
	<title>Intranet</title>
	<style>
		.container {
			display: flex;
		}

		.element {
			flex-grow: 1;
		}

		.element-1 {
			background-color: red;
			color: white;
		}

		.element-2 {
			background-color: blue;
			color: white;
		}
	</style>
</head>


<body>
	<!-- consumir fragmento cabecera-->
	<div th:insert="plantilla/UITemplate :: menu"></div>

	<br>

	<div class="container">
		<br>
		<div class="element element-1">
			<!-- Aquí puedes colocar imágenes o información sobre reseñas -->
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Reseñas del sistema de ventas</h5>
					<!-- Agrega el contenido de las reseñas aquí -->
					<!-- Por ejemplo, puedes usar imágenes, texto, etc. -->
					<img src="/ruta/imagen1.jpg" alt="Imagen 1">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut convallis
						dolor. Sed fringilla dictum neque, sed placerat elit consequat ac.</p>
				</div>
			</div>
		</div>

		<br>
		<div class="element element-1">
			<!-- Aquí puedes colocar imágenes o información sobre reseñas -->
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Reseñas del sistema de ventas</h5>
					<!-- Agrega el contenido de las reseñas aquí -->
					<!-- Por ejemplo, puedes usar imágenes, texto, etc. -->
					<img src="/ruta/imagen1.jpg" alt="Imagen 1">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut convallis
						dolor. Sed fringilla dictum neque, sed placerat elit consequat ac.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="element element-1">
			<!-- Aquí puedes colocar imágenes o información sobre reseñas -->
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Reseñas del sistema de ventas</h5>
					<!-- Agrega el contenido de las reseñas aquí -->
					<!-- Por ejemplo, puedes usar imágenes, texto, etc. -->
					<img src="/ruta/imagen1.jpg" alt="Imagen 1">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut convallis
						dolor. Sed fringilla dictum neque, sed placerat elit consequat ac.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="element element-1">
			<!-- Aquí puedes colocar imágenes o información sobre reseñas -->
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Reseñas del sistema de ventas</h5>
					<!-- Agrega el contenido de las reseñas aquí -->
					<!-- Por ejemplo, puedes usar imágenes, texto, etc. -->
					<img src="/ruta/imagen1.jpg" alt="Imagen 1">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut convallis
						dolor. Sed fringilla dictum neque, sed placerat elit consequat ac.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="element element-1">
			<!-- Aquí puedes colocar imágenes o información sobre reseñas -->
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Reseñas del sistema de ventas</h5>
					<!-- Agrega el contenido de las reseñas aquí -->
					<!-- Por ejemplo, puedes usar imágenes, texto, etc. -->
					<img src="/ruta/imagen1.jpg" alt="Imagen 1">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut convallis
						dolor. Sed fringilla dictum neque, sed placerat elit consequat ac.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="element element-1">
			<!-- Aquí puedes colocar imágenes o información sobre reseñas -->
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Reseñas del sistema de ventas</h5>
					<!-- Agrega el contenido de las reseñas aquí -->
					<!-- Por ejemplo, puedes usar imágenes, texto, etc. -->
					<img src="/ruta/imagen1.jpg" alt="Imagen 1">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut convallis
						dolor. Sed fringilla dictum neque, sed placerat elit consequat ac.</p>
				</div>
			</div>
		</div>
	</div>

	<div th:insert="plantilla/UITemplate :: pie"></div>
</body>

</html>